server {
    listen 80;
    listen [::]:80;
    server_name club-v2.hijackpoker.ru quiz-v2.hijackpoker.ru;

    location ^~ /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        return 404;
    }
}
